# Environment
venv/
.env

# Dependencies
node_modules/
__pycache__/
*.pyc

# Data & Checkpoints
data/
checkpoints/
logs/
eclipse.db

# Frontend build
# frontend/dist/  <-- Commented out for HF Deploy
.DS_Store
